<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	
	<bean id="address2" p:postalCode="20"
		p:streatAddress="wahab ka ghar " class="com.example.demo.Address">
	</bean>
	
	
	
	<bean id="logger" class="com.example.demo.Logger"
		autowire="byType">
	</bean>
	<bean id="filewritter" class="com.example.demo.FileWritter"></bean>
	
	<bean id="consolewritter" class="com.example.demo.ConsoleWritter"></bean>
</beans>
